@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

nav {
  background-image: url("../images/pattern-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

nav h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 20px;
}
nav input {
  border: none;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 13px 0 0 13px;
  width: 500px;
}

nav .btn-search {
  padding: 14px 20px;
  background-color: #000;
  border: none;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
}
nav .btn-search:active {
  opacity: 0.9;
}

nav input,
nav .btn-search:focus {
  outline: none;
}

.info {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
}

.info .info-card {
  background-color: #fff;
  padding: 10px 25px;
  width: 250px;
  max-width: 250px;
  height: 140px;
  text-align: left;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.info .info-card:after {
  content: "";
  height: 60%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 21%;
  background-color: hsl(0, 0%, 80%);
}

.info .info-card ul {
}

.info .info-card ul li:first-of-type {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: hsl(0, 0%, 59%);
}
.info .info-card ul li:last-of-type {
  font-size: 22px;
  font-weight: 500;
  color: hsl(0, 0%, 17%);
}

.info .info-card:first-of-type {
  border-radius: 10px 0 0 10px;
}

.info .info-card:last-of-type {
  border-radius: 0 10px 10px 0;
}

#weathermap {
  z-index: -2;
}
.map {
  height: 70vh;
  max-height: 700px;
  width: 100%;
  z-index: -1;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    transform: translateY(0);
    margin: 20px 0;
  }
  .info .info-card {
    text-align: center;
    width: 300px;
    height: 80px;
    padding: 0 20px;
  }
  .info .info-card ul li:first-of-type {
    margin-bottom: 10px;
  }
  .info .info-card:first-of-type {
    border-radius: 10px 10px 0 0;
  }

  .info .info-card:last-of-type {
    border-radius: 0 0 10px 10px;
  }
  nav {
    display: block;
    height: 300px;
  }
  nav h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 25px;
  }

  nav input {
    width: 250px;
    font-size: 14px;
  }

  nav .btn-search {
    padding: 12px 20px;
  }
  .info .info-card ul {
    margin: 10px;
  }

  .info .info-card:after {
    display: none;
  }
  .info .info-card ul li:first-of-type {
    font-size: 10px;
  }
  .info .info-card ul li:last-of-type {
    font-size: 14px;
  }
}
